header{
    background:url("k.jpg") no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-position: bottom;
    display: flex;
    
    align-items: flex-end;
    justify-content: center;
}
a{
    text-decoration: none;
}
.header-content{
    margin-bottom: 80px;
    text-align: center; 
}
.ctn{
    padding: 8px 15px;
    background: aquamarine;
    
}

section{
    background:url("dark.jpeg") no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-position: bottom;
    display: flex;
    
    align-items: flex-start;
   
}
.title h1{
    margin-left: 10px;
    text-align: start;
    color: #00FFF0;
    font-family: Iceland;
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 903px;
    height: 163px;
    flex-shrink: 0;
}

